
body {
    background-color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #c9c9c9;
}

.gl-title {
    text-align: center;
    color: #c9c9c9;
}

.gl-widget {
    margin: 10px 50px;
}

.gl-widget-item {
    display: inline-block;
    margin-bottom: 30px;
}

.gl-widget img {
    width: 236px;
    height: 177px;
    padding: 5px;
    transition: 0.2s;
}

.gl-widget img:hover {
    transform: scale(1.2);
}

.gl-item-txt-link {
    display: block;
    width: 236px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 2px;
}

.gl-item-author {
    display: block;
    /*display: block;*/
}

.gl-item-date {
    display: initial;
    font-size: 12px;
    color: #c9c9c9;
}

@media screen and (max-width: 500px) {
    .gl-widget-item {
        width: 100%;
    }
}