

body {
    background-color: #eee;
}

.gl-widget {
    display: flex;
    border: 1px solid #ddd;
    flex-flow: row wrap;
    justify-content: space-between;

}

.gl-widget img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    transition: transform .2s;
}

.gl-item-txt-link {
    width: 250px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 2px;
}

.gl-widget img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: scale(1.5);
}

.gl-widget a {
    padding-left: 2px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 12px;
}

.gl-widget a:hover {
    color: rgba(0, 140, 186, 0.5);
}

.gl-item-author {
    display: block;
}

.gl-item-date {
    font-size: 13px;
    padding: 2px 10px 2px 2px;
    margin-top: 1px;
}

@media screen and (max-width: 500px) {
    .gl-widget-item {
        width: 100%;
    }
}